.header{
    width: 100%;
    background-color: rgb(163, 0, 0);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
}
.navbar{
    position: relative;
    float: right;
}